* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #333;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 25px;
}
body {
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
}
/* navbar */
.logo-image {
  width: 125px;
}
.navbar {
  display: flex;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  list-style: none;
  display: inline-block;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
#cart-image {
  width: 30px;
  height: 30px;
}

/* header */
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  color: #fff;
  background-color: #ff523b;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 65px;
}
/* --------------feature-section------------------------- */
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}
/* ---------------feature-products------------------- */
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  cursor: pointer;
}
.col-4 img {
  width: 100%;
}
/* .col-4 h4 {
  margin-bottom: 3px;
}
.col-4 p {
  margin-top: 5px;
} */

.clear {
  clear: all;
}
.col-4 p {
  color: #555;
}
.title {
  text-align: center;
  margin: 0 auto 80px; /*margin: top left bottom right*/
  position: relative;
  color: #555;
  line-height: 60px;
}
.title::after {
  content: "";
  background-color: #ff523b;
  width: 80px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}

.rating i {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-7px);
}
/* -----------------------offer section------------------------- */
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-image {
  padding: 50px;
}
small,
.col-2 p {
  color: #555;
}
/* ---------------------testimonials-------------------- */
.testimonials {
  padding-top: 100px;
}
.testimonials .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer; /*cursor file in css lectures*/
  transition: transform 0.5s;
}
.testimonials .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonials .col-3:hover {
  transform: translateY(-10px);
}
.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.testimonials .col-3 p {
  font-size: 13px;
  color: #777;
  margin: 12px 0;
}
.testimonials .col-3 h3 {
  font-size: 16px;
  color: #555;
  font-weight: 600;
}
/* -------------------------------brands--------------------------- */
.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
/* -----------------------footer---------------------------- */
.footer {
  background-color: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background-color: #b5b5b5;
  margin: 20px 0;
  height: 1px;
}
.copyright {
  text-align: center;
}
/* menu icon for smaller screens (max-width:800px) */
.menu-icon {
  width: 30px;
  height: 33px;
  margin-left: 20px;
  display: none; /* because we dont want to show this in bigger secreens*/
}

/* ----------------------------products page-------------------------- */
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s;
}
.page-btn span:hover {
  background-color: #ff523b;
  color: white;
}

/* ------------------------- single prod details page------------------           */
#single-prod-img {
  width: 100%;
}
.single-prod {
  margin-top: 80px;
}
.single-prod .col-2 img {
  padding: 0;
}
.single-prod .col-2 {
  padding: 20px;
}
.single-prod #prod-main-heading {
  font-size: 45px;
}
.single-prod h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-prod select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-prod input {
  width: 50px;
  height: 40px;
  border: 1px solid #ff523b;
  padding-left: 10px;
  font-size: 15px;
  margin-right: 10px;
}
.single-prod input:focus {
  outline: none;
}
.single-prod h3 i {
  font-size: 19px;
  color: #ff523b;
  margin-left: 8px;
}
.single-prod h3 {
  margin-bottom: 10px;
}
.small-image-row {
  display: flex;
  justify-content: space-between;
}
.small-image-col {
  flex-basis: 24%;

  cursor: pointer;
}
/* --------------------------------cart-page---------------- */
.cart-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  color: #fff;
  background-color: #ff523b;
  padding: 5px;
  font-weight: normal;
  text-align: left;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
  margin-bottom: 3px;
}
td a {
  color: #ff523b;
  font-size: 12px;
}
.cart-info img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 2px solid #ff523b;
  width: 100%;
  max-width: 400px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
/* --------------------------account-page----------------------------- */
.account-page {
  background: radial-gradient(#fff, #ffd6d6);
  padding: 50px 0;
}
.form-container {
  background-color: white;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 120px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0px 10px;
  border: 1px solid #ccc;
}
form input:focus {
  outline: none;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus {
  outline: none;
}
#loginForm {
  left: -300px;
}
#signupForm {
  left: 0;
}
#loginForm a {
  font-size: 12px;
}
#indicator {
  width: 100px; /*bcz we gave indivisual span a width of 100px*/
  border: none;
  background-color: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}
